Master/ws-client/src/main/resources/wsdl/WSEndpointImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://webapp.master.media.tuwien.ac.at/" name="WSEndpointImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://webapp.master.media.tuwien.ac.at/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webapp.master.media.tuwien.ac.at/" schemaLocation="WSEndpointImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="upload">
    <part name="parameters" element="tns:upload"/>
  </message>
  <message name="uploadResponse">
    <part name="parameters" element="tns:uploadResponse"/>
  </message>
  <message name="FailedLoginException">
    <part name="fault" element="tns:FailedLoginException"/>
  </message>
  <message name="getProjects">
    <part name="parameters" element="tns:getProjects"/>
  </message>
  <message name="getProjectsResponse">
    <part name="parameters" element="tns:getProjectsResponse"/>
  </message>
  <portType name="IWSEndpoint">
    <operation name="upload">
      <input wsam:Action="http://webapp.master.media.tuwien.ac.at/IWSEndpoint/uploadRequest" message="tns:upload"/>
      <output wsam:Action="http://webapp.master.media.tuwien.ac.at/IWSEndpoint/uploadResponse" message="tns:uploadResponse"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://webapp.master.media.tuwien.ac.at/IWSEndpoint/upload/Fault/FailedLoginException"/>
    </operation>
    <operation name="getProjects">
      <input wsam:Action="http://webapp.master.media.tuwien.ac.at/IWSEndpoint/getProjectsRequest" message="tns:getProjects"/>
      <output wsam:Action="http://webapp.master.media.tuwien.ac.at/IWSEndpoint/getProjectsResponse" message="tns:getProjectsResponse"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://webapp.master.media.tuwien.ac.at/IWSEndpoint/getProjects/Fault/FailedLoginException"/>
    </operation>
  </portType>
  <binding name="WSEndpointImplPortBinding" type="tns:IWSEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="upload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FailedLoginException">
        <soap:fault name="FailedLoginException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProjects">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FailedLoginException">
        <soap:fault name="FailedLoginException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="WSEndpointImplService">
    <port name="WSEndpointImplPort" binding="tns:WSEndpointImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

